<nav class="navbar">
  <ul class="navbar__list navbar__list-left">

    <h2>
      <a href="<%= url %>" class="navbar__brand">
        My Collections
      </a>
    </h2>

    <li>
      <p class="text-md"><a class="<%= pathname.includes('books') ? 'navbar__link active' : 'navbar__link' %>"
          href="<%= url %>/books">Books</a></p>
    </li>
    <li>
      <p class="text-md">
        <a class="<%= pathname.includes('games') ? 'navbar__link active' : 'navbar__link' %>" href="<%= url %>/games">
          Games
        </a>
      </p>
    </li>
  </ul>

  <ul class="navbar__list navbar__list-right">
    <li>
      <p>Chachchai T.</p>
    </li>
  </ul>
</nav>